#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.main-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.main-content-section-1 {
  display: flex;
  gap: 10px;
  padding: 10px;
}

.data-img {
  display: flex;
}

.account-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: rgba(0, 31, 9, 0.5);
  border-radius: 10px;
  padding: 10px;
}

.table, th, td {
  background-color: rgba(13, 13, 13, 0.5);
  border: 1px solid #ccc;
}


.account-container {
  background-color: rgba(13, 13, 13, 0.5);
  border-radius: 5px;
  display: flex;
  padding: 5px;
}

.demo-account {
  width: 100px;
  height: 100px;
  padding: 5px;
}

.text1 {
  font-weight: bold;
}

.account-text-element {
  display: flex;
  gap: 4px;
}

.basic-button {
  background-color: rgb(0, 34, 255);
  border: none;
  color: white;
  text-align: center;
  width: 5rem;
  height: 25px;
  border-radius: 5px;
}

.submit-data {
  background-color: rgb(0, 34, 255);
  border: none;
  color: white;
  text-align: center;
  width: 10rem;
  height: 3rem;
  border-radius: 5px;
}

.submit-data:hover {
  background-color: rgb(68, 92, 247);
}

.input-text-field {
  width: 15rem;
  border: none;
  height: 1.5rem;
  border-radius: 5px;
}

.basic-button2 {
  background-color: rgb(0, 34, 255);
  border: none;
  color: white;
  text-align: center;
  width: 8rem;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
}

.basic-button:hover {
  background-color: rgb(68, 92, 247);
}

.token-container {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: flex;
  padding: 5px;
}

.image {
  width: 30rem;
  height: auto;
  padding: 10px;
}



.image-text-field {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: space-around;
  align-items: center;
}

.image-text-fields {
  display: flex;
  align-items: center;
}

.image-text {
  height: 7rem;
}

.select-resource {
  width: 4rem;
  color: white;
  height: 25px;
  border: none;
  background-color: rgba(1, 50, 16, 0.8);
}

.main-content-section-3 {
  background-color: rgba(0, 31, 9, 0.5);
  border-radius: 10px;
}

.main-content-section-2 {
  background-color: rgba(0, 31, 9, 0.5);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}

.section-2-title {
  padding-top: 50px;
}

.output-section {
  padding-top: 20px;
  background-color: rgba(0, 31, 9, 0.5);
  border-radius: 5px;
  height: 23rem;
  overflow-y: auto;
  padding: 10px;
}

.input-divs-labels {
  display: flex;
  flex-direction: column;
  
  gap: 5px;
}

.input-divs {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.input-div {
  display: flex;
  gap: 5px;
}

.input-panels {
  display: flex;
  gap: 10px;
}

.change-specific-sd-ratio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.input-div-label {
  text-align: left;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 31, 9, 0.5);
  padding: 10px;
  border-radius: 10px;
}

.logging {
  font-weight: bold;
}

.text-fields {
  display: flex;
}